---
layout: default
---
<body>
    <div class="container">
        {% if site.posts.size == 0 %}
            <h1>Nenhum post encontrado :'(</h1>
        {% else %}
            {% for post in site.posts %}

            <a class="blog-post-link" href="{{post.url}}">
                <div class="blog-post-container">
                    <img src="{{ post.image }}" alt="{{ post.image-description }}">

                    <span>
                        {% assign m = post.date | date: "%-m" %}
                        {{ post.date | date: "%d" }}
                        {% case m %}
                            {% when '1' %}de Janeiro de
                            {% when '2' %}de Fevereiro de
                            {% when '3' %}de Março de
                            {% when '4' %}de Abril de
                            {% when '5' %}de Maio de
                            {% when '6' %}de Junho de
                            {% when '7' %}de Julho de
                            {% when '8' %}de Agosto de
                            {% when '9' %}de Setembro de
                            {% when '10' %}de Outoubro de
                            {% when '11' %}de Novembro de
                            {% when '12' %}de Dezembro de
                        {% endcase %}
                        {{ post.date | date: "%Y" }} - 
                        
                        {% assign words = post.content | number_of_words %}
                        {% if words < 360 %}
                            {% assign minutesText = '1 minuto de leitura' %}
                        {% else %}
                            {% assign minutesText = words | divided_by:180 | append: ' minutos de leitura' %}
                        {% endif %}

                        {{ minutesText }}
                    </span>
                    <h1>{{ post.title }}</h1>

                    <p>
                        {{ post.description }}
                    </p>
                </div>
            </a>

            {% endfor %}

        {% endif %}

    </div>

</body>