---
layout: default
---

<div class="uk-container">
  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <a class="post-item-link" href="{{ post.url | relative_url }}#main-start">
        <div class="uk-card uk-card-default uk-card-hover uk-grid-collapse uk-margin" uk-grid>
          <div class="uk-card-media-left uk-cover-container uk-width-2-5@m posts-canvas-container">
            <img src="{{ post.thumbnail }}" alt="" uk-cover>
            <canvas width="400" height="300"></canvas>
          </div>
          <div class="uk-width-3-5@m">
            <div class="uk-card-body">
              <div class="post-list-description">
                <h1>{{ post.title | escape }}</h1>
                  <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              </div>
              <div class="post-list-footer">
                <span >{{ post.author }}</span>
                <br>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span >{{ post.date | date: date_format }}</span>
              </div>
            </div>
          </div>
        </div>
      </a>
    {%- endfor -%}
    <br>
  {%- endif -%}

</div>
