---
layout: default
comments: true
---
<div class="post-container container">
  <img src="{{ page.image }}" alt="{{page.image-description}}">

  <h1>{{ page.title }}</h1>
  <span>
    {% assign m = page.date | date: "%-m" %}
    {{ page.date | date: "%d" }}
    {% case m %}
      {% when '1' %}de Janeiro de
      {% when '2' %}de Fevereiro de
      {% when '3' %}de Março de
      {% when '4' %}de Abril de
      {% when '5' %}de Maio de
      {% when '6' %}de Junho de
      {% when '7' %}de Julho de
      {% when '8' %}de Agosto de
      {% when '9' %}de Setembro de
      {% when '10' %}de Outoubro de
      {% when '11' %}de Novembro de
      {% when '12' %}de Dezembro de
    {% endcase %}
    {{ page.date | date: "%Y" }} - 

    {% assign words = content | number_of_words %}
    {% if words < 360 %}
        {% assign minutesText = '1 minuto de leitura' %}
    {% else %}
        {% assign minutesText = words | divided_by:180 | append: ' minutos de leitura' %}
    {% endif %}

    {{ minutesText }}
  </span>
  <p>
    {{ content }}
  </p>

    {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>
      
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://tiplo-filtro.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
    {% endif %}

</div>
